body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li a {
	color: #444;
	text-decoration: none;
	font-size: 1.1rem;
}

nav form {
	display: flex;
	align-items: center;
}

nav form input[type="text"] {
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 5px;
	border: none;
	font-size: 1.1rem;
}

nav form button {
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: #4285F4;
	color: white;
	font-size: 1.1rem;
	cursor: pointer;
}

nav form button:last-of-type {
	background-color: #DD4B39;
	margin-left: 0.5rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 180px);
}

h1 {
	font-size: 4rem;
	color: #4285F4;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.8rem;
	color: #777;
	margin-bottom: 2rem;
}

.download-btn {
	background-color: #4285F4;
	color: white;
	padding:
